venv
*.avi
*.mp4
*.mkv
*.wav
*.mp3
movies/
clips/
clips/*.avi
clips/*.mp4
clips/*.mkv
clips/*.wav
clips/*.mp3
movies/*.avi
movies/*.mp4
movies/*.mkv
movies/*.wav
movies/*.mp3
movies/clips/*.avi
movies/clips/*.mp4
movies/clips/*.mkv
movies/clips/*.wav
movies/clips/*.mp3
*.pyc
__pycache__
